     <section class="body">

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <img src="assets/images/download-removebg-preview (3).png" alt="" class="logo_img">
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarSupportedContent">
                <ul class="navbar-nav ">
                    <li class="nav-item mx-5">
                      <img src="/assets/images/discover-removebg-preview.png" alt="" class="icon">
                    </li>
                    <li class="nav-item mx-5">
                      <img src="/assets/images/people-removebg-preview.png" alt="" srcset="" class="icon_people">
                    </li>
                    <li class="nav-item mx-5">
                      <img src="/assets/images/court_case-removebg-preview.png" alt="" srcset="" class="icon_courtcase">
                      
                    </li>
                    
                    <li class="nav-item mx-3">
                      <button class="join  btn text-light ">Join now</button>
                    </li>
                    <li class="nav-item mx-3">
                      <button class="signIn btn  ">Sign in</button>
                    </li>

                  </ul>
              
              </div>
            </div>
          </nav>
                 <!-- nav bar starts here -->
                 <!-- <nav class="navbar  sticky-top navbar-expand-lg navbar-light bg-light">
                    <div class="container-fluid">
                      <img src="assets/images/download-removebg-preview (3).png" alt="" class="logo_img">
                      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                      </button>
                      <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarNavDropdown">
                        <ul class="navbar-nav ">
                          <li class="nav-item mx-5">
                            <img src="/assets/images/discover-removebg-preview.png" alt="" class="icon">
                          </li>
                          <li class="nav-item mx-5">
                            <img src="/assets/images/people-removebg-preview.png" alt="" srcset="" class="icon_people">
                          </li>
                          <li class="nav-item mx-5">
                            <img src="/assets/images/court_case-removebg-preview.png" alt="" srcset="" class="icon_courtcase">
                            
                          </li>
                          
                          <li class="nav-item mx-3">
                            <button class="join  btn text-light ">Join now</button>
                          </li>
                          <li class="nav-item mx-3">
                            <button class="signIn btn  ">Sign in</button>
                          </li>

                        </ul>
                      </div>
                    </div>
                  </nav> -->



                 <!-- nav bar ends here -->

                        <!-- btn button -->
                        <div class="d-flex justify-content-end">
                                                 

                            <button class="getStarted btn  " routerLink="/signup" >Get Started</button>

                        </div>

                        <!-- btn ends here -->

                 <!-- hero section -->
                 <div>
                     <div class="container">
                         <div class="row">
                             <div class="col-10">
                                 <div class="row">
                                     <div class="col-sm-12   col-md-7 col-lg-7 col-xl-7 col-xxl-7 my-5">
                                            <h2 class="wel display-5">Welcome to your professional Community</h2>
                                            <p>Meet the best legal practitionals,political analysts and political and social activist. </p>
                                     </div>
                                     <div class="col-sm-12   col-md-5 col-lg-5 col-xl-5 col-xxl-5 my-5">
                                       <img src="/assets/images/law1-removebg-preview.png" alt="" srcset="" class="img_ill1">
                                       
                                     </div>

                                 </div>

                             </div>

                         </div>

                     </div>  

                 </div>




                 <!-- hero section ends here -->


                 <!-- Exploring Section  -->
                 <div class="explore">
                     <div class="container">
                         <div class="row">
                             <div class="col-10">
                                 <div class="row">
                                     <div class="col-sm-12 col-md-5 col-lg-5 col-xl-5 col-xxl-5  ">
                                         <h2 class="exploreNote display-6 my-5">Explore cases you are interested in </h2>
                                       
                                     </div>
                                     <div class="col-sm-12 col-md-7 col-lg-7 col-xl-7 col-xxl-7  ">
                                         <img src="/assets/images/law5-removebg-preview.png
                                         " alt="" class="ill_two">
                                         
                                     </div>

                                 </div>

                             </div>

                         </div>

                     </div>
               

                 </div>



                 <!-- Exploring Section  -->

                 <!-- section three -->
                 
                    <div class="container">
                        <div class="row">
                            <div class="col-10">
                                <div class="row">
                                    <div class="col-sm-12 col-md-5 col-lg-5 col-xl-5 col-xxl-5  ">
                                        <h2 class="exploreNote display-6 my-5"> Share your thought on <span class="hot">Hot</span>  Cases   </h2>
                                      
                                    </div>
                                    <div class="col-sm-12 col-md-7 col-lg-7 col-xl-7 col-xxl-7  ">
                                        <img src="assets/images/law4-removebg-preview.png
                                        " alt="" class="share">
                                        
                                    </div>

                                </div>

                            </div>

                        </div>

                    </div>


           <!-- section three ends here -->

           <!-- section post starts here -->
                    <div class="post">
                        <div class="container">
                            <div class="row">
                                <div class="col-10">
                                    <div class="row">
                                        <div class="col-sm-12 col-md-8 col-lg-8 col-xl-8 col-xxl-8">
                                            <h4 class="postWord display-5">Post your case for millions of people to  see</h4>
                                          
                                        </div>
                                        <div class="col-sm-12 col-md-8 col-lg-8 col-xl-3 col-xxl-8 my-5">
                                            <button class="postBtn btn">Post a Case</button>

                                        </div>
                                        
                                    </div>
    
                                </div>
    
                            </div>
    
                        </div>
    


                    </div>
                    <!-- section post ends here -->
                    

                    <!-- section connect starts here -->
                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                <div class="row">
                                    <div class="col-sm-12 col-md-12 col-lg-5 col-xl-5 col-xxl-5  ">
                                        <img src="/assets/images/connect-removebg-preview.png" alt="" class="conn_illu">
                                        <p class="display-6">Connect with people who can help</p>
                                       
                                    </div>
                                    <div class="col-sm-12 col-md-12 col-lg-5 col-xl-7 col-xxl-7  ">
                                        <img src="/assets/images/thnk-removebg-preview.png
                                        " alt="" class="" class="think_ill">
                                        <p class="display-6 think_ill">Think differently in every situation</p>
                                        
                                    </div>

                                </div>

                            </div>

                        </div>

                    </div>
              

            




    </section>

<router-outlet></router-outlet>
